Source: debsecan
Section: admin
Priority: optional
Maintainer: Florian Weimer <fw@deneb.enyo.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: debsecan
Architecture: all
Depends: python (>= 2.3)
Description: Debian Security Analyzer
 debsecan is a tool to generate a list of vulnerabilities which affect
 a particular Debian installation.  debsecan runs on the host which is
 to be checked, and downloads vulnerability information over the Internet.
