#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_capb backup

STATE=1
while true; do
    case "$STATE" in
	1)
	    db_input low debsecan/report || true
	    ;;
	2)
	    db_get debsecan/report
	    if test "$RET" = true ; then
		db_input medium debsecan/suite || true
	    fi
	    ;;
	*)
	    break
	    ;;
    esac

    if db_go; then
	STATE=$(($STATE + 1))
    else
	STATE=$(($STATE - 1))
    fi
done

if test $STATE -eq 1 ; then
    exit 10
fi
